<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
<div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Имя</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Возраст</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${admin}">

            <td th:text="${user.getId()}">
            <td th:text="${user.getName()}">
            <td th:text="${user.getSurname()}">
            <td th:text="${user.getAge()}">
            </td>
        </tr>
        </tbody>
    </table>
    <a href="/logout">Logout</a>
</div>
</body>
</html>