<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
<div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Имя</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Возраст</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${admin}">

            <td th:text="${user.getId()}">
            <td th:text="${user.getName()}">
            <td th:text="${user.getSurname()}">
            <td th:text="${user.getAge()}">
            <td>
                <!-- Форма для удаления пользователя -->
                <form method="post" th:action="@{/admin/delete/{userId}(userId=${user.id})}">
                    <button type="submit">Delete</button>
                </form>
                <!-- Ссылка для обновления пользователя -->
            <form method="post" th:action="@{/admin/edit/{userId}(userId=${user.id})}">
                <button type="submit">Edit</button>
            </form>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="/logout">Logout</a>
</div>
</body>
</html>